
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
} 
/** {
   outline: 1px solid red !important;
}*/

html,body {
    margin:auto;
    display: block;
}

body {
    width: 80%;
    background-color: #e8e8e7;
    margin-top: 5%;
}


}

.inner-container {
    margin-left: 15%;
    margin-right: 15%;
}

.inner-container {
    width:70%;
    margin:auto;
}
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #8BCC98;
    margin: 1em 0;
    padding: 0; 
}
/*back ground image*/
#background {
    background:url(../img/iphone.jpg);
    /*image fill container area*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
#background div {
    font-size: 4vmin;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 1vw;
}
.info {
    color: white;
    padding-top: 10px;
    border: 2px solid white;
    height: 15vmin;
    width: 37vmin;
}